{% set modifier_classes = [] %}
{% if is_today %}
  {% set modifier_classes = modifier_classes|merge(['today']) %}
{% endif %}

{% if is_disabled %}
  {% set modifier_classes = modifier_classes|merge(['disabled']) %}
{% endif %}
<li {{ bem('day', modifier_classes, 'calendar') }} tabindex="-1">
  {% if year and month and day %}
    <time datetime="{{ year ~ '-' ~ month ~ '-' ~ day }}">
      <span aria-hidden="true">{{ day }}</span>
      <span class="sr-only">{{ month_name }} {{ day }}, {{ year }}</span></time>
  {% endif %}
  {% if events is not empty %}
    <ul {{ bem('day-events', [], 'calendar') }}>
    {% for event in events %}
      {% include "@molecules/cards/reference-card/event/_yds-calendar-cell-event.twig" with {
        category: event.category,
        title: event.title,
        url: event.url,
        time: event.time,
        type: event.type,
        description: event.description,
        optional_link__content: event.optional_link__content,
        optional_link__url: event.optional_link__url,
      } %}
    {% endfor %}
  </ul>
  {% endif %}
  {% if events|length > 1 %}
    {% include "@atoms/controls/base/yds-control.twig" with {
      control__content: (events|length - 1) ~ ' more events'|t,
      control__base_class: 'toggle',
      control__blockname: 'calendar-event',
      control__attributes: {'data-micromodal-trigger': 'calendar-modal'},
    } %}
  {% endif %}
</li>
