<ul {{ bem('taxonomy-list', ['tags'], '') }}>
  {% for item in items|slice(0, 3) %}
    <li {{ bem('item', [], 'taxonomy-list') }}>{{ item.content }}</li>
    <li aria-hidden="true" {{ bem('divider', [], 'taxonomy-list') }}>{{ '|' }}</li>
  {% endfor %}
  {% if items|length > 3 %}
    <li {{ bem('taxonomy-item', [], 'taxonomy-list') }}>
      <a href="{{ node_url }}">{{ '+' }}{{ items|length - 3 }}</a>
    </li>
  {% endif %}
</ul>
