{% set tabs__base_class = 'tabs' %}
{% set tabs__id = tabs__id|default(random()) %}

<div {{ bem(tabs__base_class, [], tabs__blockname, ['no-js']) }} data-overflow="none">
  <div {{ bem('tabs', [], tabs__base_class) }}>
    {% include "@atoms/images/icons/_icon.twig" with {
      icon__name: 'angle-down',
      icon__blockname: tabs__base_class,
      icon__modifiers: ['left'],
      icon__decorative: true,
    } %}
    <ul {{ bem('nav', [], tabs__base_class) }} role="tablist">
      {% for key, tab in tabs %}
        {% if key == 0 %}
          {% set aria_selected = 'aria-selected="true"' %}
        {% else %}
          {% set tab_index = 'tabindex="-1"' %}
        {% endif %}
        <li {{ bem('item', [], tabs__base_class) }} role="presentation">
          <a {{ bem('link', [], tabs__base_class) }} role="tab" aria-controls="{{ 'tab-' ~ tabs__id ~ '-' ~ key }}" {{ tab_index }} {{ aria_selected }} href={{ '#tab-' ~ tabs__id ~ '-' ~ key }}>
            {{ tab.tab__label }}
          </a>
        </li>
      {% endfor %}
    </ul>
    {% include "@atoms/images/icons/_icon.twig" with {
      icon__name: 'angle-down',
      icon__blockname: tabs__base_class,
      icon__modifiers: ['right'],
      icon__decorative: true,
    } %}
  </div>
  {% for key, tab in tabs %}
    {% if key == 0 %}
      {% set active_class = 'is-active' %}
    {% endif %}
    <div {{ bem('container', [], tabs__base_class, [active_class]) }} role="tabpanel" data-component-width="content" data-embedded-components>
      <div {{ bem('inner', [], tabs__base_class) }}>
        <div id="{{ 'tab-' ~ tabs__id ~ '-' ~ key }}" {{ bem('content', [], tabs__base_class) }}>
          {{ tab.tab__content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
