{# Drupal Specific #}
{# {% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs__nav tabs__nav--local-tasks">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul>{{ secondary }}</ul>
{% endif %} #}

{#
 # Available Variables:
 # - tabs__id: unique ID to distinguish multiple sets of tabs
 # - tabs: array of tab items, which include:
 #   - label
 #   - content
 #}

{% set tabs__base_class = 'tabs' %}
{% set tabs__id = tabs__id|default(random()) %}

<div {{ bem(tabs__base_class, [], tabs__blockname, ['no-js']) }}>
  <ul {{ bem('nav', [], tabs__base_class) }}>
    {% for key, tab in tabs %}
      {% if key == 0 %}{% set active_class = 'is-active' %}{% endif %}
      {% include "@molecules/tabs/_tab.twig" with {
        tab__link: "#tab-" ~ tabs__id ~ '-' ~ key,
        tab__label: tab.tab__label,
      } %}
    {% endfor %}
  </ul>
  {% for key, tab in tabs %}
    {% if key == 0 %}{% set active_class = 'is-active' %}{% endif %}
    <div {{ bem('container', [], tabs__base_class, [active_class]) }}>
      <div id="tab-{{ tabs__id ~ '-' ~ key }}" {{ bem('content', [], tabs__base_class) }}>
        {{ tab.tab__content }}
      </div>
    </div>
  {% endfor %}
</div>
