{% set spacing__base_class = 'cl-spacing' %}

<div {{ bem(spacing__base_class) }}>
  <span></span><span>rem</span><span>px</span><span></span>
  <span class="cl-spacing__line"></span>
  {% for key, value in _context.spacing_options %}
    <span>--size-spacing-{{ key }}</span>
    <span>{{ value|trim('rem') }}</span>
    <span>{{ value * 16 }}</span>
    <span style="background: var(--color-yale-blue-mid); height: var(--size-spacing-{{key}}); width: var(--size-spacing-{{key}});"></span>
    <span class="cl-spacing__line"></span>
  {% endfor %}
</div>
