{% set site_header__base_class = 'site-header' %}

<header {{ bem(site_header__base_class) }}>
  <div {{ bem('inner', [], site_header__base_class) }}>
    {# Secondary #}
    <div {{ bem('secondary', [], site_header__base_class) }}>
      {# Logo #}
      <div {{ bem('yale-logo', [], site_header__base_class) }}>
        {% include "@page-layouts/placeholder/placeholder.twig" with {
          placeholder: 'Yale Logo',
          placeholder__type: 'element',
        } %}
      </div>
      {# Utility Nav #}
      <div {{ bem('utility-nav', [], site_header__base_class) }}>
        {% include "@page-layouts/placeholder/placeholder.twig" with {
          placeholder: 'Utility Nav',
          placeholder__type: 'element',
        } %}
      </div>
    </div>
    {# Primary #}
    <div {{ bem('primary', [], site_header__base_class) }}>
      {# Branding #}
      <div {{ bem('branding', [], site_header__base_class) }}>
        {% include "@page-layouts/placeholder/placeholder.twig" with {
          placeholder: 'Branding',
          placeholder__type: 'element',
        } %}
      </div>
      {# Primary Nav #}
      <div {{ bem('primary-nav', [], site_header__base_class) }}>
        {% include "@page-layouts/placeholder/placeholder.twig" with {
          placeholder: 'Primary Nav',
          placeholder__type: 'element',
        } %}
      </div>
    </div>
  </div>
</header>
