{#
 # Available Props:
 # - site_header__theme
 # - site_header__border_thickness
 # - site_header__nav_position
 #
 # Available Variables
 # - site_name
 #
 # Available Blocks
 # - site_header__primary_nav
 #}

{% set site_header__base_class = 'site-header' %}

{% set site_header__attributes = {
  'data-main-menu-state': 'loaded',
  'data-component-width': 'site',
  'data-site-header-nav-position': site_header__nav_position|default('right'),
  'data-site-header-border-thickness': site_header__border_thickness|default('8'),
  'data-header-theme': site_header__theme|default('one'),
  'data-header-accent': site_header__accent|default('one'),
  class: bem(site_header__base_class),
} %}

{# If the header uses a logo as its site_name instead of text #}
{% if site_header__site_name_is_image %}
  {% set site_header__attributes = site_header__attributes|merge({
  'data-site-header-site-name-is-image': '1',
  }) %}
{% endif %}

{# If header is simple, set header-type attribute
  set default nav position to right
 #}
{% if site_header__menu__variation == 'focus' %}
  {% set site_header__type = 'focus' %}
  {% set site_header__attributes = site_header__attributes|merge({
    'data-site-header-type': 'focus',
    'data-site-header-nav-position': 'right',
  }) %}

  {% if site_header__background_image %}
    {% set site_header__attributes = site_header__attributes|merge({
    'data-site-header-with-background-image': '1',
    }) %}
  {% endif %}
{% endif %}

{# Primary #}
{% set site_header__primary %}
  <div {{ bem('primary', [], site_header__base_class) }}>
    {% if site_header__site_name_is_image %}
      {% embed "@atoms/controls/text-link/yds-text-link.twig" with {
        link__content: site_name,
        link__url: '/',
        link__base_class: 'site-branding-logo',
        link__modifiers: ['desktop'],
        link__blockname: site_header__base_class,
      } %}
        {% block link__content %}
        {# isSiteHeaderLogo is variable set in Drupal #}
        {% if isSiteHeaderLogo %}
          {{ site_header__site_name_is_image|raw }}
          {% else %}
          {# Render example SVG in Storybook #}
          <svg width="400" height="200" viewBox="0 0 400 200" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M55.6655 76.4934C55.6655 86.7991 46.6223 93 34.8573 93C28.0968 93 22.9167 91.0786 19.5804 89.5939L18 75.7074H19.9316C20.7217 79.5502 23.1801 84.0917 26.6042 86.3624C28.887 87.8472 32.4867 89.6812 36.4377 89.6812C44.2517 89.6812 48.1148 85.1397 48.1148 79.8122C48.1148 73.6987 44.3395 70.7293 36.5255 67.7598C24.9361 63.3057 20.1072 59.4629 20.1072 51.1659C20.1072 41.559 29.1504 35.0087 41.53 35.0087C47.3247 35.0087 51.4512 36.3188 54.4363 37.6288V51.2533H52.5048C52.1536 47.3231 50.8366 42.9563 47.4125 41.0349C46.0077 40.2489 43.2859 38.5022 39.2472 38.5022C30.9942 38.5022 27.6578 42.869 27.6578 47.5852C27.6578 53.0873 29.5016 55.7948 40.0374 60.2489C50.7488 64.7904 55.6655 68.2838 55.6655 76.4934ZM76.4079 37.5415C76.4079 39.6376 74.4763 41.9083 71.7545 41.9083C68.945 41.9083 67.0134 39.6376 67.0134 37.5415C67.0134 35.3581 68.945 33 71.7545 33C74.4763 33 76.4079 35.3581 76.4079 37.5415ZM81.3246 89.5939V91.69H62.7113V89.5939C67.0134 89.2445 67.7158 88.4585 68.5938 86.9738L68.6816 63.2183C68.6816 61.2096 67.5402 59.6376 63.0625 58.5022V56.9301L74.3885 52.8253H75.4421V86.9738C76.4079 88.7205 76.9346 89.1572 81.3246 89.5939ZM111.061 86.3624V88.1092C108.779 89.9432 103.423 92.3886 100.262 92.3886C92.2725 92.3886 89.902 88.1092 89.902 81.1223C89.902 72.8253 90.4288 66.6245 90.6044 58.3275L85.7755 58.4148V56.5808L96.2235 46.2751H97.3648L97.277 54.3974H110.359V58.5022L97.3648 58.4148C97.1892 67.2358 97.0136 72.214 97.0136 79.9869C97.0136 84.8777 100.087 87.9345 105.267 87.9345C107.286 87.9345 110.183 86.7118 111.061 86.3624ZM144.812 82.607L146.129 84.6157C140.773 89.5065 136.734 92.3886 129.535 92.3886C120.492 92.3886 113.556 85.1397 113.556 74.5721C113.556 61.7336 121.282 53.0873 131.905 53.0873C140.773 53.0873 144.9 57.7162 144.9 66.0131V67.4978L120.931 67.3231C120.843 68.1092 120.755 70.0306 120.755 72.0393C120.755 81.2096 126.901 87.3231 134.188 87.3231C139.193 87.3231 141.036 85.8384 144.812 82.607ZM121.282 64.9651L137.788 64.7904C137.788 60.0742 134.276 55.7074 130.325 55.7074C125.672 55.7074 122.248 59.2009 121.282 64.9651ZM234.404 36.2314V38.1528C230.278 38.3275 226.942 40.2489 226.064 41.9956V75.9694C226.064 80.5983 226.327 88.7205 226.59 92.3886H223.166L187.871 51.0786L183.481 44.8777H183.218L183.481 50.5546V70.9039C183.481 75.6201 183.92 82.2576 184.008 85.9258C184.886 87.6725 189.803 89.5066 193.842 89.6812V91.69H170.048V89.6812C174.175 89.5066 177.774 87.6725 178.565 85.9258V54.1354C178.565 49.7686 178.652 45.0524 178.126 41.7336C177.248 39.9869 173.999 38.3275 169.96 38.1528V36.2314H185.413L190.417 42.4323L221.235 78.5022V56.9301C221.235 52.1266 220.883 44.7031 220.796 41.9956C219.918 40.2489 215.001 38.3275 210.962 38.1528V36.2314H234.404ZM273.535 85.3144V87.5851C271.428 89.7686 267.125 92.476 264.316 92.476C259.838 92.476 257.994 88.8952 257.907 86.8865C254.834 90.0306 250.006 92.476 246.757 92.476C242.455 92.476 237.977 89.5939 237.977 84.5284C237.977 82.1703 238.329 79.2009 239.733 77.1921L257.907 70.8166L257.994 64.7031C258.082 60.6856 254.747 56.3188 250.708 56.3188C248.25 56.3188 246.143 59.3755 245.967 63.655L238.855 64.9651V64.0044C241.314 56.6681 250.708 53 254.571 53C262.56 53 265.194 57.1921 265.106 63.917L264.755 82.7817C264.667 86.3624 266.599 87.4978 268.442 87.4978C270.374 87.4978 271.515 86.7118 273.535 85.3144ZM257.819 85.2271L257.907 72.9127C255.624 73.9607 248.952 76.4934 246.406 77.8908C246.055 79.2882 245.791 81.2096 245.791 82.9563C245.791 85.5764 247.284 88.0218 249.918 88.0218C253.43 88.0218 255.097 87.1485 257.819 85.2271ZM343.481 89.3319V91.69C340.847 91.6026 336.808 91.5153 332.418 91.5153C329.082 91.5153 326.009 91.69 323.814 91.7773V89.6812C327.94 89.4192 328.467 88.4585 329.257 86.9738L328.994 66.7118C328.906 62.2576 326.272 58.0655 321.092 58.0655C318.634 58.0655 314.683 59.3755 311.961 61.1223V87.0611C313.015 88.8079 313.278 89.2445 317.58 89.6812V91.69H299.669V89.6812C303.884 89.4192 304.323 88.5458 304.937 87.0611V66.6245C304.937 62.607 302.479 57.8908 297.211 57.8908C294.928 57.8908 290.714 59.2882 287.992 60.9476V87.0611C288.958 88.8079 289.221 89.2445 293.611 89.6812V91.69H275.613V89.6812C279.915 89.4192 280.354 88.5458 281.144 87.0611V63.5677C281.144 61.7336 280.09 59.8996 276.052 58.5895V57.1921L287.026 52.8253H287.992V59.1135C291.943 56.2314 298.616 53 301.776 53C307.308 53 310.293 55.6201 311.61 59.6376C315.385 56.7555 322.585 53.0873 325.833 53.0873C333.735 53.0873 335.93 57.8035 336.018 65.0524L336.281 87.6725C338.037 88.8952 340.144 89.0699 343.481 89.3319ZM377.683 82.607L379 84.6157C373.644 89.5065 369.606 92.3886 362.406 92.3886C353.363 92.3886 346.427 85.1397 346.427 74.5721C346.427 61.7336 354.153 53.0873 364.777 53.0873C373.644 53.0873 377.771 57.7162 377.771 66.0131V67.4978L353.802 67.3231C353.714 68.1092 353.626 70.0306 353.626 72.0393C353.626 81.2096 359.772 87.3231 367.059 87.3231C372.064 87.3231 373.908 85.8384 377.683 82.607ZM354.153 64.9651L370.659 64.7904C370.659 60.0742 367.147 55.7074 363.196 55.7074C358.543 55.7074 355.119 59.2009 354.153 64.9651Z" fill="#00356B"/>
            <path d="M13 116H381" stroke="#00356B" stroke-width="2.20454"/>
            <path d="M41.755 136.325V137.327C39.1915 137.464 38.0012 138.284 36.6737 140.47L29.0748 152.905V161.741C30.0361 163.882 32.1419 164.11 34.2476 164.201V165.248H19.6447V164.201C21.7505 164.11 24.2682 163.745 24.9549 162.379V153.315L17.0812 140.425C15.7537 138.284 14.5177 137.464 12 137.327V136.325H24.6344V137.327C22.2083 137.464 21.4758 137.965 20.7892 138.511L28.0219 150.718L35.1631 138.603C34.4307 138.056 33.744 137.464 31.3179 137.327V136.325H41.755ZM57.8297 161.923V163.108C56.7313 164.246 54.4881 165.658 53.0233 165.658C50.6887 165.658 49.7273 163.791 49.6815 162.743C48.0792 164.383 45.5616 165.658 43.8678 165.658C41.6248 165.658 39.2902 164.155 39.2902 161.513C39.2902 160.284 39.4733 158.735 40.2056 157.687L49.6815 154.362L49.7273 151.174C49.7731 149.079 48.0337 146.801 45.9279 146.801C44.6462 146.801 43.5475 148.395 43.4559 150.627L39.7479 151.311V150.81C41.0297 146.984 45.9279 145.07 47.942 145.07C52.1077 145.07 53.481 147.257 53.4352 150.764L53.2522 160.603C53.2064 162.47 54.2134 163.062 55.1749 163.062C56.1819 163.062 56.7769 162.652 57.8297 161.923ZM49.6359 161.878L49.6815 155.455C48.4914 156.002 45.0123 157.323 43.6847 158.052C43.5017 158.781 43.3642 159.783 43.3642 160.694C43.3642 162.06 44.1424 163.335 45.5158 163.335C47.3469 163.335 48.2167 162.88 49.6359 161.878ZM68.3889 164.201V165.248H58.3179V164.201C60.5153 164.064 61.0646 163.609 61.4309 162.834V138.42C61.4309 136.872 61.5223 136.234 58.3637 135.915V135.05L65.2303 133H65.9627V133.638L65.0931 135.186V162.834C65.5508 163.745 66.1001 163.973 68.3889 164.201ZM86.8285 160.511L87.515 161.559C84.7227 164.11 82.617 165.613 78.8632 165.613C74.1482 165.613 70.5319 161.832 70.5319 156.321C70.5319 149.625 74.5601 145.116 80.0991 145.116C84.7227 145.116 86.8743 147.53 86.8743 151.857V152.631L74.3771 152.541C74.3313 152.95 74.2854 153.952 74.2854 155C74.2854 159.783 77.4899 162.971 81.2895 162.971C83.8987 162.971 84.86 162.197 86.8285 160.511ZM74.5601 151.311L83.1663 151.22C83.1663 148.76 81.3353 146.483 79.2754 146.483C76.8491 146.483 75.0639 148.304 74.5601 151.311ZM132.213 136.325V137.327C130.153 137.418 128.414 138.42 127.956 139.331V153.907C127.956 162.288 122.783 165.977 115.688 165.977C108.409 165.977 104.015 161.878 104.015 154.727V138.967C103.557 138.056 101.817 137.418 99.7576 137.327V136.325H112.575V137.327C110.469 137.418 108.638 138.056 108.181 138.967V154.044C108.181 159.828 111.247 163.199 116.741 163.199C122.554 163.199 125.438 159.691 125.438 153.132V147.211C125.438 144.706 125.255 140.743 125.209 139.331C124.752 138.42 122.28 137.418 120.128 137.327V136.325H132.213ZM156.682 164.019V165.248H146.29V164.155C148.488 163.973 148.763 163.563 149.083 162.789V152.176C149.083 149.716 147.343 147.621 144.826 147.621C143.59 147.621 141.53 148.395 140.202 149.124V162.834C140.706 163.745 140.934 163.973 143.224 164.201V165.248H133.656V164.201C135.899 164.064 136.219 163.609 136.632 162.834V150.536C136.632 149.625 135.899 148.578 133.748 148.031V147.166L139.699 145.025H140.202V148.259C142.262 146.756 145.741 145.07 147.389 145.07C151.555 145.07 152.791 147.575 152.791 151.265V163.108C153.706 163.791 154.622 163.836 156.682 164.019ZM165.382 137.008C165.382 138.102 164.375 139.286 162.956 139.286C161.491 139.286 160.484 138.102 160.484 137.008C160.484 135.87 161.491 134.64 162.956 134.64C164.375 134.64 165.382 135.87 165.382 137.008ZM167.946 164.155V165.248H158.241V164.155C160.484 163.973 160.851 163.563 161.308 162.789L161.354 150.4C161.354 149.352 160.759 148.532 158.424 147.94V147.12L164.329 144.979H164.879V162.789C165.382 163.7 165.657 163.928 167.946 164.155ZM190.188 145.708V146.756C188.22 146.847 187.258 148.122 186.755 149.306L179.98 165.248L178.24 165.613L171.74 148.805C171.282 147.621 170.275 146.847 168.261 146.756V145.708H178.195V146.756C176.592 146.847 175.906 147.211 175.265 147.575L180.392 161.012L185.244 148.35C184.878 147.667 183.734 146.847 181.903 146.756V145.708H190.188ZM207.216 160.511L207.903 161.559C205.111 164.11 203.005 165.613 199.251 165.613C194.536 165.613 190.92 161.832 190.92 156.321C190.92 149.625 194.948 145.116 200.487 145.116C205.111 145.116 207.262 147.53 207.262 151.857V152.631L194.765 152.541C194.719 152.95 194.673 153.952 194.673 155C194.673 159.783 197.878 162.971 201.677 162.971C204.287 162.971 205.248 162.197 207.216 160.511ZM194.948 151.311L203.554 151.22C203.554 148.76 201.723 146.483 199.663 146.483C197.237 146.483 195.452 148.304 194.948 151.311ZM225.478 146.118L223.601 149.853H223.143C221.724 149.033 220.717 148.578 219.527 148.578C218.337 148.578 217.833 149.261 216.78 150.217V162.698C217.284 163.609 219.023 163.836 220.992 164.11V165.248H210.326V164.155C212.569 163.973 212.798 163.563 213.21 162.789V150.263C213.21 149.352 212.614 148.578 210.326 148.031V147.166L216.139 145.025H216.597L216.689 149.352C218.749 147.166 220.58 145.253 222.228 145.253C223.372 145.253 224.425 145.617 225.478 146.118ZM240.783 159.555C240.783 162.834 237.945 165.704 234.008 165.704C230.621 165.704 228.652 164.975 227.508 164.429L226.959 159.373H228.103C229.522 162.014 231.674 164.337 232.635 164.337C236.48 164.337 237.35 162.561 237.35 160.876C237.35 158.963 235.748 157.961 233.184 156.913C229.385 155.364 227.554 153.998 227.554 150.855C227.554 147.712 230.667 145.116 234.695 145.116C237.121 145.116 239.044 145.799 240.234 146.346L240.463 151.174H239.456C238.083 148.532 236.252 146.391 235.199 146.391C231.491 146.391 230.941 148.35 230.941 149.534C230.941 151.447 231.72 152.404 235.199 153.816C238.769 155.273 240.783 156.549 240.783 159.555ZM251.169 137.008C251.169 138.102 250.162 139.286 248.743 139.286C247.278 139.286 246.271 138.102 246.271 137.008C246.271 135.87 247.278 134.64 248.743 134.64C250.162 134.64 251.169 135.87 251.169 137.008ZM253.733 164.155V165.248H244.028V164.155C246.271 163.973 246.637 163.563 247.095 162.789L247.141 150.4C247.141 149.352 246.546 148.532 244.211 147.94V147.12L250.117 144.979H250.666V162.789C251.169 163.7 251.444 163.928 253.733 164.155ZM269.238 162.47V163.381C268.046 164.337 265.256 165.613 263.606 165.613C259.441 165.613 258.205 163.381 258.205 159.737C258.205 155.41 258.48 152.176 258.571 147.849L256.053 147.894V146.938L261.5 141.563H262.097L262.051 145.799H268.87V147.94L262.097 147.894C262.005 152.495 261.912 155.091 261.912 159.145C261.912 161.696 263.516 163.29 266.216 163.29C267.269 163.29 268.78 162.652 269.238 162.47ZM291 145.708V146.756C289.031 146.847 287.978 148.122 287.476 149.306L281.753 163.381C280.106 167.48 278.183 172.901 277.13 175.315C276.764 176.18 275.894 177 274.612 177C273.194 177 272.368 175.952 272.368 174.905C272.368 173.812 273.148 172.855 274.612 172.855C275.024 172.855 275.755 173.083 276.123 173.22L279.097 166.068L272.553 148.805C272.141 147.667 271.225 146.847 269.255 146.756V145.708H279.143V146.756C277.542 146.847 276.764 147.211 276.123 147.575L281.249 161.24L285.965 148.35C285.689 147.667 284.59 146.847 282.76 146.756V145.708H291Z" fill="#00356B"/>
          </svg>
        {% endif %}
        {% endblock %}
      {% endembed %}
      {% else %}
      {# Site Branding #}
      {% include "@atoms/controls/text-link/yds-text-link.twig" with {
        link__content: site_name,
        link__url: '/',
        link__base_class: 'site-branding',
        link__modifiers: ['primary'],
        link__blockname: site_header__base_class,
      } %}
    {% endif %}
    {# Primary Nav #}
    <div {{ bem('primary-nav', [], site_header__base_class) }}>
      {% block site_header__primary_nav %}
        {% include "@organisms/menu/primary-nav/yds-primary-nav.twig" with {
          menu__variation: site_header__menu__variation,
        } %}
      {% endblock %}
    </div>
  </div>
{% endset %}

<header {{ add_attributes(site_header__attributes) }}>
  <div {{ bem('inner', [], site_header__base_class) }}>
    <div {{ bem('mobile-header', [], site_header__base_class) }}>
      {# Yale Branding #}
      {% if site_header__site_name_is_image %}
        {% embed "@atoms/controls/text-link/yds-text-link.twig" with {
          link__content: site_name,
          link__url: '/',
          link__base_class: 'site-branding-logo',
          link__modifiers: ['mobile'],
          link__blockname: site_header__base_class,
        } %}
          {% block link__content %}
            <svg width="152" height="71" viewBox="0 0 152 71" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
              <title>{{site_name}}</title>
              <path d="M18.352 26.736C18.352 30.984 14.644 33.54 9.82 33.54C7.048 33.54 4.924 32.748 3.556 32.136L2.908 26.412H3.7C4.024 27.996 5.032 29.868 6.436 30.804C7.372 31.416 8.848 32.172 10.468 32.172C13.672 32.172 15.256 30.3 15.256 28.104C15.256 25.584 13.708 24.36 10.504 23.136C5.752 21.3 3.772 19.716 3.772 16.296C3.772 12.336 7.48 9.636 12.556 9.636C14.932 9.636 16.624 10.176 17.848 10.716V16.332H17.056C16.912 14.712 16.372 12.912 14.968 12.12C14.392 11.796 13.276 11.076 11.62 11.076C8.236 11.076 6.868 12.876 6.868 14.82C6.868 17.088 7.624 18.204 11.944 20.04C16.336 21.912 18.352 23.352 18.352 26.736ZM26.857 10.68C26.857 11.544 26.065 12.48 24.949 12.48C23.797 12.48 23.005 11.544 23.005 10.68C23.005 9.78 23.797 8.808 24.949 8.808C26.065 8.808 26.857 9.78 26.857 10.68ZM28.873 32.136V33H21.241V32.136C23.005 31.992 23.293 31.668 23.653 31.056L23.689 21.264C23.689 20.436 23.221 19.788 21.385 19.32V18.672L26.029 16.98H26.461V31.056C26.857 31.776 27.073 31.956 28.873 32.136ZM41.066 30.804V31.524C40.13 32.28 37.934 33.288 36.638 33.288C33.362 33.288 32.39 31.524 32.39 28.644C32.39 25.224 32.606 22.668 32.678 19.248L30.698 19.284V18.528L34.982 14.28H35.45L35.414 17.628H40.778V19.32L35.45 19.284C35.378 22.92 35.306 24.972 35.306 28.176C35.306 30.192 36.566 31.452 38.69 31.452C39.518 31.452 40.706 30.948 41.066 30.804ZM54.9047 29.256L55.4447 30.084C53.2487 32.1 51.5927 33.288 48.6407 33.288C44.9327 33.288 42.0887 30.3 42.0887 25.944C42.0887 20.652 45.2567 17.088 49.6127 17.088C53.2487 17.088 54.9407 18.996 54.9407 22.416V23.028L45.1127 22.956C45.0767 23.28 45.0407 24.072 45.0407 24.9C45.0407 28.68 47.5607 31.2 50.5487 31.2C52.6007 31.2 53.3567 30.588 54.9047 29.256ZM45.2567 21.984L52.0247 21.912C52.0247 19.968 50.5847 18.168 48.9647 18.168C47.0567 18.168 45.6527 19.608 45.2567 21.984ZM91.6404 10.14V10.932C89.9484 11.004 88.5804 11.796 88.2204 12.516V26.52C88.2204 28.428 88.3284 31.776 88.4364 33.288H87.0324L72.5604 16.26L70.7604 13.704H70.6524L70.7604 16.044V24.432C70.7604 26.376 70.9404 29.112 70.9764 30.624C71.3364 31.344 73.3524 32.1 75.0084 32.172V33H65.2524V32.172C66.9444 32.1 68.4204 31.344 68.7444 30.624V17.52C68.7444 15.72 68.7804 13.776 68.5644 12.408C68.2044 11.688 66.8724 11.004 65.2164 10.932V10.14H71.5524L73.6044 12.696L86.2404 27.564V18.672C86.2404 16.692 86.0964 13.632 86.0604 12.516C85.7004 11.796 83.6844 11.004 82.0284 10.932V10.14H91.6404ZM107.685 30.372V31.308C106.821 32.208 105.057 33.324 103.905 33.324C102.069 33.324 101.313 31.848 101.277 31.02C100.017 32.316 98.0374 33.324 96.7054 33.324C94.9414 33.324 93.1054 32.136 93.1054 30.048C93.1054 29.076 93.2494 27.852 93.8254 27.024L101.277 24.396L101.313 21.876C101.349 20.22 99.9814 18.42 98.3254 18.42C97.3174 18.42 96.4534 19.68 96.3814 21.444L93.4654 21.984V21.588C94.4734 18.564 98.3254 17.052 99.9094 17.052C103.185 17.052 104.265 18.78 104.229 21.552L104.085 29.328C104.049 30.804 104.841 31.272 105.597 31.272C106.389 31.272 106.857 30.948 107.685 30.372ZM101.241 30.336L101.277 25.26C100.341 25.692 97.6054 26.736 96.5614 27.312C96.4174 27.888 96.3094 28.68 96.3094 29.4C96.3094 30.48 96.9214 31.488 98.0014 31.488C99.4414 31.488 100.125 31.128 101.241 30.336ZM136.365 32.028V33C135.285 32.964 133.629 32.928 131.829 32.928C130.461 32.928 129.201 33 128.301 33.036V32.172C129.993 32.064 130.209 31.668 130.533 31.056L130.425 22.704C130.389 20.868 129.309 19.14 127.185 19.14C126.177 19.14 124.557 19.68 123.441 20.4V31.092C123.873 31.812 123.981 31.992 125.745 32.172V33H118.401V32.172C120.129 32.064 120.309 31.704 120.561 31.092V22.668C120.561 21.012 119.553 19.068 117.393 19.068C116.457 19.068 114.729 19.644 113.613 20.328V31.092C114.009 31.812 114.117 31.992 115.917 32.172V33H108.537V32.172C110.301 32.064 110.481 31.704 110.805 31.092V21.408C110.805 20.652 110.373 19.896 108.717 19.356V18.78L113.217 16.98H113.613V19.572C115.233 18.384 117.969 17.052 119.265 17.052C121.533 17.052 122.757 18.132 123.297 19.788C124.845 18.6 127.797 17.088 129.129 17.088C132.369 17.088 133.269 19.032 133.305 22.02L133.413 31.344C134.133 31.848 134.997 31.92 136.365 32.028ZM150.389 29.256L150.929 30.084C148.733 32.1 147.077 33.288 144.125 33.288C140.417 33.288 137.573 30.3 137.573 25.944C137.573 20.652 140.741 17.088 145.097 17.088C148.733 17.088 150.425 18.996 150.425 22.416V23.028L140.597 22.956C140.561 23.28 140.525 24.072 140.525 24.9C140.525 28.68 143.045 31.2 146.033 31.2C148.085 31.2 148.841 30.588 150.389 29.256ZM140.741 21.984L147.509 21.912C147.509 19.968 146.069 18.168 144.449 18.168C142.541 18.168 141.137 19.608 140.741 21.984Z" fill="#00356B"/>
              <path d="M1 43H152" stroke="#00356B" stroke-width="1.56522"/>
              <path d="M12.7579 51.073V51.4863C11.7061 51.5426 11.2177 51.8807 10.673 52.7823L7.55513 57.9099V61.5537C7.94957 62.4365 8.81357 62.5304 9.67757 62.568V63H3.68591V62.568C4.54991 62.5304 5.58296 62.3802 5.8647 61.8167V58.079L2.63409 52.7635C2.08939 51.8807 1.58226 51.5426 0.549217 51.4863V51.073H5.73322V51.4863C4.73774 51.5426 4.43722 51.7492 4.15548 51.9746L7.12313 57.0083L10.0532 52.0122C9.7527 51.7868 9.47096 51.5426 8.47548 51.4863V51.073H12.7579ZM19.3535 61.6289V62.1172C18.9028 62.5868 17.9824 63.169 17.3814 63.169C16.4235 63.169 16.029 62.399 16.0102 61.967C15.3528 62.6431 14.3198 63.169 13.6248 63.169C12.7045 63.169 11.7466 62.5492 11.7466 61.4598C11.7466 60.9527 11.8217 60.3141 12.1222 59.8821L16.0102 58.511L16.029 57.1962C16.0478 56.3322 15.3341 55.393 14.4701 55.393C13.9442 55.393 13.4934 56.0504 13.4558 56.9708L11.9344 57.2525V57.0459C12.4603 55.4682 14.4701 54.6793 15.2965 54.6793C17.0057 54.6793 17.5692 55.5809 17.5504 57.0271L17.4753 61.0842C17.4565 61.8543 17.8697 62.0984 18.2642 62.0984C18.6774 62.0984 18.9215 61.9294 19.3535 61.6289ZM15.9915 61.6101L16.0102 58.9617C15.5219 59.1871 14.0944 59.7318 13.5497 60.0323C13.4746 60.3329 13.4182 60.7461 13.4182 61.1217C13.4182 61.6852 13.7375 62.2111 14.301 62.2111C15.0523 62.2111 15.4092 62.0233 15.9915 61.6101ZM23.686 62.568V63H19.5538V62.568C20.4554 62.5117 20.6808 62.3238 20.8311 62.0045V51.937C20.8311 51.2984 20.8686 51.0355 19.5726 50.904V50.5471L22.39 49.7019H22.6905V49.9649L22.3337 50.6035V62.0045C22.5215 62.3802 22.7469 62.4741 23.686 62.568ZM31.2519 61.0466L31.5336 61.4786C30.3879 62.5304 29.5239 63.1503 27.9837 63.1503C26.0491 63.1503 24.5653 61.5913 24.5653 59.3186C24.5653 56.5576 26.2181 54.6981 28.4908 54.6981C30.3879 54.6981 31.2707 55.6936 31.2707 57.4779V57.7972L26.143 57.7597C26.1242 57.9287 26.1054 58.3419 26.1054 58.7739C26.1054 60.7461 27.4202 62.0609 28.9792 62.0609C30.0498 62.0609 30.4442 61.7416 31.2519 61.0466ZM26.2181 57.2525L29.7493 57.215C29.7493 56.2007 28.998 55.2616 28.1528 55.2616C27.1573 55.2616 26.4248 56.0129 26.2181 57.2525ZM49.8737 51.073V51.4863C49.0284 51.5238 48.3147 51.937 48.1269 52.3127V58.3231C48.1269 61.7791 46.0044 63.3005 43.0931 63.3005C40.1067 63.3005 38.3036 61.6101 38.3036 58.6612V52.1624C38.1158 51.7868 37.402 51.5238 36.5568 51.4863V51.073H41.8159V51.4863C40.9519 51.5238 40.2006 51.7868 40.0128 52.1624V58.3795C40.0128 60.7649 41.2712 62.1548 43.5251 62.1548C45.9105 62.1548 47.0938 60.7085 47.0938 58.0038V55.5621C47.0938 54.529 47.0187 52.895 46.9999 52.3127C46.8121 51.937 45.7978 51.5238 44.9151 51.4863V51.073H49.8737ZM59.9133 62.4929V63H55.6496V62.5492C56.5512 62.4741 56.6639 62.305 56.7954 61.9857V57.6094C56.7954 56.5951 56.0816 55.7311 55.0486 55.7311C54.5414 55.7311 53.6962 56.0504 53.1515 56.351V62.0045C53.3581 62.3802 53.452 62.4741 54.3912 62.568V63H50.4656V62.568C51.386 62.5117 51.5174 62.3238 51.6865 62.0045V56.9332C51.6865 56.5576 51.386 56.1256 50.5032 55.9002V55.5433L52.9449 54.6605H53.1515V55.9941C53.9967 55.3743 55.4242 54.6793 56.1004 54.6793C57.8096 54.6793 58.3167 55.7123 58.3167 57.2337V62.1172C58.6924 62.399 59.068 62.4177 59.9133 62.4929ZM63.4831 51.3548C63.4831 51.8056 63.0699 52.2939 62.4877 52.2939C61.8866 52.2939 61.4734 51.8056 61.4734 51.3548C61.4734 50.8852 61.8866 50.3781 62.4877 50.3781C63.0699 50.3781 63.4831 50.8852 63.4831 51.3548ZM64.535 62.5492V63H60.553V62.5492C61.4734 62.4741 61.6237 62.305 61.8115 61.9857L61.8303 56.8769C61.8303 56.4449 61.5861 56.1068 60.6282 55.8626V55.5245L63.0511 54.6417H63.2765V61.9857C63.4831 62.3614 63.5958 62.4553 64.535 62.5492ZM73.6611 54.9423V55.3743C72.8535 55.4118 72.459 55.9377 72.2524 56.4261L69.4726 63L68.7588 63.1503L66.0917 56.2195C65.9039 55.7311 65.4907 55.4118 64.6642 55.3743V54.9423H68.7401V55.3743C68.0827 55.4118 67.8009 55.5621 67.538 55.7123L69.6416 61.2532L71.6326 56.0317C71.4823 55.7499 71.0128 55.4118 70.2615 55.3743V54.9423H73.6611ZM80.6479 61.0466L80.9297 61.4786C79.7839 62.5304 78.9199 63.1503 77.3798 63.1503C75.4452 63.1503 73.9613 61.5913 73.9613 59.3186C73.9613 56.5576 75.6142 54.6981 77.8869 54.6981C79.7839 54.6981 80.6667 55.6936 80.6667 57.4779V57.7972L75.5391 57.7597C75.5203 57.9287 75.5015 58.3419 75.5015 58.7739C75.5015 60.7461 76.8163 62.0609 78.3752 62.0609C79.4459 62.0609 79.8403 61.7416 80.6479 61.0466ZM75.6142 57.2525L79.1453 57.215C79.1453 56.2007 78.394 55.2616 77.5488 55.2616C76.5533 55.2616 75.8208 56.0129 75.6142 57.2525ZM88.1407 55.1113L87.3707 56.6515H87.1828C86.6006 56.3134 86.1873 56.1256 85.699 56.1256C85.2107 56.1256 85.004 56.4073 84.572 56.8017V61.9482C84.7787 62.3238 85.4924 62.4177 86.3 62.5304V63H81.9237V62.5492C82.844 62.4741 82.938 62.305 83.107 61.9857V56.8205C83.107 56.4449 82.8628 56.1256 81.9237 55.9002V55.5433L84.3091 54.6605H84.4969L84.5345 56.4449C85.3797 55.5433 86.131 54.7544 86.8072 54.7544C87.2767 54.7544 87.7087 54.9047 88.1407 55.1113ZM94.4207 60.6522C94.4207 62.0045 93.2562 63.1878 91.6409 63.1878C90.251 63.1878 89.4433 62.8873 88.9738 62.6619L88.7484 60.577H89.2179C89.8002 61.6664 90.683 62.6243 91.0774 62.6243C92.6552 62.6243 93.012 61.8918 93.012 61.1969C93.012 60.408 92.3546 59.9948 91.3028 59.5628C89.7439 58.9242 88.9926 58.3607 88.9926 57.0647C88.9926 55.7687 90.2698 54.6981 91.9226 54.6981C92.9181 54.6981 93.707 54.9798 94.1953 55.2052L94.2893 57.1962H93.876C93.3126 56.1068 92.5613 55.224 92.1293 55.224C90.6079 55.224 90.3825 56.0317 90.3825 56.52C90.3825 57.3089 90.7018 57.7033 92.1293 58.2856C93.5943 58.8866 94.4207 59.4125 94.4207 60.6522ZM98.6822 51.3548C98.6822 51.8056 98.269 52.2939 97.6867 52.2939C97.0857 52.2939 96.6724 51.8056 96.6724 51.3548C96.6724 50.8852 97.0857 50.3781 97.6867 50.3781C98.269 50.3781 98.6822 50.8852 98.6822 51.3548ZM99.734 62.5492V63H95.7521V62.5492C96.6724 62.4741 96.8227 62.305 97.0105 61.9857L97.0293 56.8769C97.0293 56.4449 96.7851 56.1068 95.8272 55.8626V55.5245L98.2502 54.6417H98.4756V61.9857C98.6822 62.3614 98.7949 62.4553 99.734 62.5492ZM106.096 61.8543V62.2299C105.607 62.6243 104.462 63.1503 103.785 63.1503C102.076 63.1503 101.569 62.2299 101.569 60.7273C101.569 58.943 101.682 57.6094 101.719 55.825L100.686 55.8438V55.4494L102.921 53.233H103.166L103.147 54.9798H105.945V55.8626L103.166 55.8438C103.128 57.7409 103.09 58.8115 103.09 60.4831C103.09 61.535 103.748 62.1923 104.856 62.1923C105.288 62.1923 105.908 61.9294 106.096 61.8543ZM115.025 54.9423V55.3743C114.217 55.4118 113.785 55.9377 113.579 56.4261L111.231 62.2299C110.555 63.9203 109.766 66.1555 109.334 67.151C109.184 67.5078 108.827 67.8459 108.301 67.8459C107.719 67.8459 107.38 67.4139 107.38 66.9819C107.38 66.5311 107.7 66.1367 108.301 66.1367C108.47 66.1367 108.77 66.2306 108.921 66.287L110.141 63.3381L107.456 56.2195C107.287 55.7499 106.911 55.4118 106.103 55.3743V54.9423H110.16V55.3743C109.503 55.4118 109.184 55.5621 108.921 55.7123L111.024 61.3471L112.959 56.0317C112.846 55.7499 112.395 55.4118 111.644 55.3743V54.9423H115.025Z" fill="#00356B"/>
            </svg>
          {% endblock %}
        {% endembed %}
        {% else %}
        {% include "@atoms/controls/text-link/yds-text-link.twig" with {
          link__content: site_name,
          link__url: '/',
          link__base_class: 'site-branding',
          link__modifiers: ['mobile'],
          link__blockname: site_header__base_class,
        } %}
      {% endif %}
      {# Mobile Menu Toggle #}
      {% include "@molecules/menu/menu-toggle/yds-menu-toggle.twig" %}
    </div>
    <div {{ bem('menu-wrapper', [], site_header__base_class) }}>
    {# If header type is simple, load the simple component #}
    {% if site_header__type == 'focus' %}
      {% include "@organisms/site-header/_site-header-simple.twig" %}
    {% else %}
      {% include "@organisms/site-header/_site-header-default.twig" %}
    {% endif %}
    </div>
  </div>
  {% if site_header__background_image and site_header__type == 'focus' %}
    <div {{ bem('image', [], site_header__base_class) }} aria-hidden='true'>
      {% block site_header__background_image %}
        {% include "@atoms/images/image/_responsive-image.twig" %}
      {% endblock %}
    </div>
  {% endif %}
</header>
<div {{ bem('overlay', [], site_header__base_class) }}></div>

