{#
 # Available Props:
 # - site_header__theme
 # - site_header__border_thickness
 # - site_header__nav_position
 #
 # Available Variables
 # - site_name
 #
 # Available Blocks
 # - site_header__primary_nav
 #}

{% set site_header__base_class = 'site-header' %}

{% set site_header__attributes = {
  'data-main-menu-state': 'closed',
  'data-component-width': 'site',
  'data-site-header-nav-position': site_header__nav_position|default('right'),
  'data-site-header-border-thickness': site_header__border_thickness|default('8'),
  'data-header-theme': site_header__theme|default('one'),
  'data-header-accent': site_header__accent|default('one'),
  class: bem(site_header__base_class),
} %}

{# If the header uses a logo as its site_name instead of text #}
{% if site_header__site_name_is_image %}
  {% set site_header__attributes = site_header__attributes|merge({
  'data-site-header-site-name-is-image': '',
  }) %}
{% endif %}

{# If header is simple, set header-type attribute
  set default nav position to right
 #}
{% if site_header__menu__variation == 'focus' %}
  {% set site_header__type = 'focus' %}
  {% set site_header__attributes = site_header__attributes|merge({
    'data-site-header-type': 'focus',
    'data-site-header-nav-position': 'right',
  }) %}

  {% if site_header__background_image %}
    {% set site_header__attributes = site_header__attributes|merge({
    'data-site-header-with-background-image': '',
    }) %}
  {% endif %}
{% endif %}

{# Primary #}
{% set site_header__primary %}
  <div {{ bem('primary', [], site_header__base_class) }}>
    {% if site_header__site_name_is_image %}
      {% embed "@atoms/controls/text-link/yds-text-link.twig" with {
        link__url: '/',
        link__base_class: 'site-branding-logo',
        link__modifiers: ['primary'],
        link__blockname: site_header__base_class,
      } %}
        {% block link__image %}
          {% include "@atoms/images/image/_responsive-image.twig" %}
        {% endblock %}
      {% endembed %}
      {% else %}
      {# Site Branding #}
      {% include "@atoms/controls/text-link/yds-text-link.twig" with {
        link__content: site_name,
        link__url: '/',
        link__base_class: 'site-branding',
        link__modifiers: ['primary'],
        link__blockname: site_header__base_class,
      } %}
    {% endif %}
    {# Primary Nav #}
    <div {{ bem('primary-nav', [], site_header__base_class) }}>
      {% block site_header__primary_nav %}
        {% include "@organisms/menu/primary-nav/yds-primary-nav.twig" with {
          menu__variation: site_header__menu__variation,
        } %}
      {% endblock %}
    </div>
  </div>
{% endset %}

<header {{ add_attributes(site_header__attributes) }}>
  <div {{ bem('inner', [], site_header__base_class) }}>
    <div {{ bem('mobile-header', [], site_header__base_class) }}>
      {# Yale Branding #}
      {% include "@atoms/controls/text-link/yds-text-link.twig" with {
        link__content: site_name,
        link__url: '/',
        link__base_class: 'site-branding',
        link__modifiers: ['mobile'],
        link__blockname: site_header__base_class,
      } %}
      {# Mobile Menu Toggle #}
      {% include "@molecules/menu/menu-toggle/yds-menu-toggle.twig" %}
    </div>
    <div {{ bem('menu-wrapper', [], site_header__base_class) }}>
    {# If header type is simple, load the simple component #}
    {% if site_header__type == 'focus' %}
      {% include "@organisms/site-header/_site-header-simple.twig" %}
    {% else %}
      {% include "@organisms/site-header/_site-header-default.twig" %}
    {% endif %}
    </div>
  </div>
  {% if site_header__background_image and site_header__type == 'focus' %}
    <div {{ bem('image', [], site_header__base_class) }}>
      {% block site_header__background_image %}
        {% include "@atoms/images/image/_responsive-image.twig" %}
      {% endblock %}
    </div>
  {% endif %}
</header>
<div {{ bem('overlay', [], site_header__base_class) }}></div>

