{#
 # Available Variables:
 # - embed__src
 # - embed__title
 #}

{% set embed__base_class = 'embed' %}

<div {{ bem(embed__base_class) }}>
  <div {{ bem('inner', [], embed__base_class) }}>
    <iframe {{ bem('iframe', [], embed__base_class) }} title="{{ embed__title }}" src="{{ embed__src }}" height="100%" width="100%" loading="lazy">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
