{% set type__base_class = 'cl-type' %}
{% set icon__base_class = 'icon' %}

<h2>As text (unicode)</h2>
<ul {{ bem(type__base_class) }}>
  {% for icon in fontIcons %}
    <li {{ bem('item', [], type__base_class) }}>
      <h2>{{icon.name}}</h2>
      <span style="display:block;">As unicode font:</span>
      <div {{ bem('sample', [], type__base_class) }} style="font-size: 1rem; font-family: 'Font Awesome 6 Pro'; font-weight: {{ icon.weight }};">
        <span {{ bem('icon', [], type__base_class) }}>{{icon.value}}</span>
      </div>
      <div {{ bem('as-icon', [], icon__base_class) }}>
        <span style="display:block;">As 'i' icon element:</span>
        <i class="{{icon.class}}"></i>
      </div>
      <details class="cl-info">
        <summary>Icon Details</summary>
          <strong>As font: </strong> <code>{{ icon.value|escape }}</code>
          <br /><strong>As icon:</strong> <code>{{ icon.class }}</code>
      </details>
    </li>
  {% endfor %}
</ul>
