{% set resource_meta__base_class = 'resource-meta' %}
{% set resource_meta__modifiers = resource_meta__modifiers|default([]) %}

{% set resource_meta__attributes = {
  'data-component-width': resource_meta__width|default('site'),
  'data-component-resource-type': resource_meta__resource_type,
  class: bem(resource_meta__base_class, [], resource_meta__blockname, resource_meta__additional_classes),
} %}

<div {{ add_attributes(resource_meta__attributes) }} data-embedded-components>
  <div {{ bem('content', [], resource_meta__base_class) }}>
    {% embed "@molecules/page-title/yds-page-title.twig" with {
      page_title__heading: resource_meta__heading,
      page_title__blockname: 'resource-title',
    }%}
      {% block page_title__overline %}
        {% include "@atoms/typography/text/yds-text.twig" with {
          text__blockname: resource_meta__base_class,
          text__content: resource_meta__category,
          text__base_class: 'category',
        } %}
      {% endblock %}

      {% block page_title__meta %}
        <div {{ bem('metadata', [], resource_meta__base_class) }}>
          {% include "@atoms/typography/text/yds-text.twig" with {
            text__blockname: resource_meta__base_class,
            text__content: resource_meta__published_on,
            text__base_class: 'published-on',
          } %}

          {% embed "@atoms/lists/yds-list.twig" with {
            list__modifiers: resource_meta__modifiers,
            list__blockname: resource_meta__base_class,
          } %}
            {% block list__content %}
              {% for item in resource_meta__metadata %}
                {% include "@molecules/meta/resource-meta/_yds-resource-meta--metadata.twig" with item %}
              {% endfor %}
            {% endblock %}
          {% endembed %}
        </div>
      {% endblock %}
    {% endembed %}
  </div>

  <div {{ bem('media', [], resource_meta__base_class) }}>
    {% if resource_meta__resource_type == 'document' %}
      image here
      {% include "@atoms/controls/cta/yds-cta.twig" with {
        cta__content: resource_meta__download_label,
        cta__href: resource_meta__download_url,
        cta__component_theme: cta__component_theme|default('one'),
      } %}
    {% elseif resource_meta__resource_type == 'video' %}
      <div {{ bem('inner', [], resource_meta__base_class) }}>
        {{ drupal_entity('media', resource_meta__media_id, 'default') }}
      </div>
    {% endif %}
  </div>
</div>