{% set breakpoints__base_class = 'cl-table' %}
{% set breakpoint_names = {
  's': 'Small',
  'm': 'Medium',
  'l': 'Large',
  'xl': 'X-Large',
  '2xl': 'XX-Large',
  'max-width': 'Max-Width',
} %}

<div {{ bem(breakpoints__base_class) }}>
  <span {{ bem('header', [], breakpoints__base_class) }}>Breakpoint</span>
  <span {{ bem('header', [], breakpoints__base_class) }}>(SCSS) Variable</span>
  <span {{ bem('header', [], breakpoints__base_class) }}>Width</span>
  <span {{ bem('line', [], breakpoints__base_class) }}></span>
  {% for breakpoint, value in _context.breakpoints %}
    {% for breakpoint_short, breakpoint_name in breakpoint_names %}
      {% if breakpoint_short == breakpoint %}
        <span>{{ breakpoint_name }}</span>
      {% endif %}
    {% endfor %}
    <span>$break-{{ breakpoint }}</span>
    <span>{{ value }}</span>
    <span {{ bem('line', [], breakpoints__base_class) }}></span>
  {% endfor %}
</div>
