{% set figure__base_class = 'figure' %}
{% set image__link__base_class = image__link__base_class|default('link') %}

<figure {{ bem(figure__base_class, figure__modifiers, figure__blockname) }}>
  {% if image__url %}
    <a {{ bem(image__link__base_class, image__link__modifiers, image__link__blockname|default(figure__base_class)) }} href="{{ image__url }}">
  {% endif %}
    {% block figure__content %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        responsive_image__blockname: responsive_image__blockname|default(figure__blockname),
      } %}
    {% endblock %}
  {% if image__url %}
    </a>
  {% endif %}

  {% if figure__caption %}
    <figcaption {{ bem('caption', figcaption__modifiers, figcaption__blockname|default(figure__blockname)) }}>
      {{ figure__caption }}
    </figcaption>
  {% endif %}
</figure>
