{#
 # Available Variables:
 # - page_title__heading
 # - page_title__prefix
 # - page_title__meta (optional. Will fill in the `basic-meta` meta type.)
 #
 # Available Blocks
 # - page_title__meta
 #}

{% set page_title__base_class = 'page-title' %}
{% if page_title__prefix %}
  {% set page_title__additional_classes = ['with-prefix'] %}
{% endif %}
{% set page_title__attributes = {
  'data-component-width': page_title__width|default('site'),
  class: bem(page_title__base_class, [], page_title__blockname, page_title__additional_classes),
} %}

<div {{ add_attributes(page_title__attributes) }}>
  <div {{ bem('inner', [], page_title__base_class) }}>
    {% if page_title__prefix %}
      <h1 {{ bem('heading', ['prefix'], page_title__base_class) }}>
        <span {{ bem('prefix', [], page_title__base_class) }}>{{ page_title__prefix }}</span>
        {{ page_title__heading }}
      </h1>
    {% endif %}
    {% block page_title__meta %}
      {% if page_title__meta %}
        {% include "@molecules/meta/basic-meta/yds-basic-meta.twig" with {
          basic_meta: page_title__meta,
        } %}
      {% endif %}
    {% endblock %}
  </div>
</div>
