{#
 # Available Props:
 # - site_footer__theme
 # - site_footer__border_thickness
 #
 # Available Blocks
 # - site_footer__logo
 # - site_footer__text
 # - site_footer__columns
 # - site_footer__social
 #}

{% set site_footer__base_class = 'site-footer' %}

{% set site_footer__attributes = {
  'data-component-width': 'site',
  'data-site-footer-border-thickness': site_footer__border_thickness|default('0'),
  'data-footer-theme': site_footer__theme|default('one'),
  'data-footer-variation': site_footer__variation|default('basic'),
  class: bem(site_footer__base_class),
} %}

<footer {{ add_attributes(site_footer__attributes) }}>
  <div {{ bem('inner', [], site_footer__base_class) }}>
    {# Default Footer #}

    {% if site_footer__variation == 'fat' %}
      {# Primary - fat #}
        <div {{ bem('primary', [], site_footer__base_class) }}>
          {# Branding  - fat #}
          <div {{ bem('branding', [], site_footer__base_class) }}>
            <div {{ bem('logo-group', [], site_footer__base_class) }}>
              {% block site_footer__logo %}
                {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                  placeholder: 'logo',
                  placeholder__type: 'element',
                } %}
              {% endblock %}
              {% block site_footer__logo_2 %}
                {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                  placeholder: 'logo',
                  placeholder__type: 'element',
                } %}
              {% endblock %}
              {% block site_footer__logo_3 %}
                {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                  placeholder: 'logo',
                  placeholder__type: 'element',
                } %}
              {% endblock %}
              {% block site_footer__logo_4 %}
                {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                  placeholder: 'logo',
                  placeholder__type: 'element',
                } %}
              {% endblock %}
            </div>

            <div {{ bem('yale-logo', [], site_footer__base_class) }}>
              {% block site_footer__yale_logo %}
                {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                  placeholder: 'Yale logo',
                  placeholder__type: 'element',
                } %}
              {% endblock %}
            </div>
          </div>
          {# WYSIWYG #}
          <div {{ bem('content', [], site_footer__base_class) }}>
            {% block site_footer__content %}
              {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                placeholder: 'Content',
                placeholder__type: 'element',
              } %}
            {% endblock %}
          </div>
          {# Columns #}
          <div {{ bem('columns', [], site_footer__base_class) }}>
            <div {{ bem('columns-inner', [], site_footer__base_class) }}>
              {% block site_footer__columns %}
                {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                  placeholder: 'Column 1',
                  placeholder__type: 'element',
                } %}
                {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                  placeholder: 'Column 2',
                  placeholder__type: 'element',
                } %}
              {% endblock %}
            </div>
            {# Social #}
            <div {{ bem('social', [], site_footer__base_class) }}>
              {% block site_footer__social %}
                {% include "@molecules/social-links/yds-social-links.twig" %}
              {% endblock %}
            </div>
          </div>
        </div>
        {# Secondary #}
        <div {{ bem('secondary', [], site_footer__base_class) }}>
          {# YALE Logo #}
          <div {{ bem('logo', [], site_footer__base_class) }}>
            <a data-link-style="no-underline" class="site-footer__site-branding site-footer__site-branding--primary" href="https://yale.edu">&#XF2A2;</a>
          </div>
          {# Meta #}
          <div {{ bem('meta', [], site_footer__base_class) }}>
            {% include "@atoms/controls/text-link/yds-text-link.twig" with {
              link__content: 'Accessibility at Yale',
              link__url: "https://usability.yale.edu/web-accessibility/accessibility-yale",
              link__style: 'no-underline',
              link__modifiers: ['footer-link'],
            } %}
            <span {{ bem('divider', [], site_footer__base_class) }}>|</span>
            {% include "@atoms/controls/text-link/yds-text-link.twig" with {
              link__content: 'Privacy Policy',
              link__url: "https://privacy.yale.edu/resources/privacy-statement",
              link__style: 'no-underline',
              link__modifiers: ['footer-link'],
            } %}
            <span {{ bem('divider', [], site_footer__base_class) }}>|</span>
            <span>Copyright © {{ 'now'|date('Y') }} Yale University. All rights reserved.</span>
          </div>
        </div>

      {% else %}
        {# Primary #}
        <div {{ bem('primary', [], site_footer__base_class) }}>
          {# Branding #}
          <div {{ bem('branding', [], site_footer__base_class) }}>
            <div {{ bem('logo', [], site_footer__base_class) }}>
              <a data-link-style="no-underline" class="site-footer__site-branding site-footer__site-branding--primary" href="https://yale.edu">&#XF2A2;</a>
            </div>
            {% block site_footer__text %}
              {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                placeholder: 'Text',
                placeholder__type: 'element',
              } %}
            {% endblock %}
          </div>
          {# Columns #}
          <div {{ bem('columns', [], site_footer__base_class) }}>
            {% block site_footer__columns %}
              {% include "@page-layouts/placeholder/yds-placeholder.twig" with {
                placeholder: 'Columns',
                placeholder__type: 'element',
              } %}
            {% endblock %}
          </div>
        </div>
        {# Secondary #}
        <div {{ bem('secondary', [], site_footer__base_class) }}>
          {# Social #}
          <div {{ bem('social', [], site_footer__base_class) }}>
            {% block site_footer__social %}
              {% include "@molecules/social-links/yds-social-links.twig" %}
            {% endblock %}
          </div>
          {# Meta #}
          <div {{ bem('meta', [], site_footer__base_class) }}>
            {% include "@atoms/controls/text-link/yds-text-link.twig" with {
              link__content: 'Accessibility at Yale',
              link__url: "https://usability.yale.edu/web-accessibility/accessibility-yale",
              link__style: 'no-underline',
              link__modifiers: ['footer-link'],
            } %}
            <span {{ bem('divider', [], site_footer__base_class) }}>|</span>
            {% include "@atoms/controls/text-link/yds-text-link.twig" with {
              link__content: 'Privacy Policy',
              link__url: "https://privacy.yale.edu/resources/privacy-statement",
              link__style: 'no-underline',
              link__modifiers: ['footer-link'],
            } %}
            <span {{ bem('divider', [], site_footer__base_class) }}>|</span>
            <span>Copyright © {{ 'now'|date('Y') }} Yale University. All rights reserved.</span>
          </div>
        </div>
    {% endif %}
  </div>
</footer>
