{#
 # Available Props:
 # - stats__item__presentation_style: basic, with-icon, icon-only
 # - stats__item__font_style: numeric-oldstyle, normal
 # - stats__item__has_icon: true, false
 # - stats__item__icon_name: string
 # - stats__item__alignment: left, center
 #
 # Available Variables:
 # - stats__item__stats__item (required)
 # - stats__item__content
 #}

{% set stats__item__base_class = 'stats__item' %}
{% set stats__item__presentation_style = stats__item__presentation_style|default('basic') %}
{% set stats__item__font_style = stats__item__font_style|default('numeric-oldstyle') %}

{# If stats__item__attributes is not defined, set it to an empty object by default #}
{% set stats__item__attributes = stats__item__attributes|default({}) %}

{% set stats__item__attributes = stats__item__attributes|merge({
  'data-stats__item-style': stats__item__presentation_style,
	'data-stats__item-has-icon': stats__item__has_icon == 'true' ? 'true' : 'false',
  'data-component-alignment': stats__item__alignment|default('left'),
	'data-component-theme': stats__item__theme|default('one'),
  class: bem(stats__item__base_class, stats__item__modifiers),
}) %}

<li {{ add_attributes(stats__item__attributes) }}>
	<div {{ bem('inner', [], stats__item__base_class) }}>
		{% if stats__item__has_icon == 'true' %}
			{% block stats__item__icon %}
				<div {{ bem('icon', [], stats__item__base_class) }}>
					{% include "@atoms/images/icons/_yds-icon.twig" with {
            icon__name: stats__item__icon_name|default('sack-dollar-solid'),
            icon__base_class: 'stats__item-icon',
            icon__blockname: stats__item__base_class,
          } %}
				</div>		
			{% endblock %}
		{% endif %}	
			<div {{ bem('stat', [], stats__item__base_class) }}>
				{{ stats__item__number }}
			</div>
      <div {{ bem('content', [], stats__item__base_class) }}>
				{{ stats__item__content }}
			</div>
    {% if stats__item__bg_image %}
      <div {{ bem('image', [], stats__item__base_class) }}>
        {% block stats__item__image %}
          {% include "@atoms/images/image/_responsive-image.twig" %}
        {% endblock %}
      </div>
    {% endif %} 
	</div>
</li>
