{% set breakpoints__base_class = 'cl-table' %}

<div {{ bem(breakpoints__base_class) }}>
  <span {{ bem('header', [], breakpoints__base_class) }}>Breakpoint</span>
  <span {{ bem('header', [], breakpoints__base_class) }}>(SCSS) Variable</span>
  <span {{ bem('header', [], breakpoints__base_class) }}>Dimensions</span>
  <span {{ bem('line', [], breakpoints__base_class) }}></span>
  {% for breakpoint, value in _context.breakpoints %}
    <span>{{ breakpoint }}</span>
    <span>{{ value.variable }}</span>
    <span>{{ value.dimensions }}</span>
    <span {{ bem('line', [], breakpoints__base_class) }}></span>
  {% endfor %}
</div>
