{#
 # Available Variables:
 # - event_meta__date_start
 # - event_meta__date_end
 # - event_meta__format: Multiselect. Options are 'In-person', 'Virtual', or both.
 # - event_meta__address
 #}


{% if not ics_url and event_dates %}
  {% set start_datetime = date(event_dates.0.value|date_modify('+0 hour')) %}
  {% set end_datetime = date(event_dates.0.end_value|date_modify('+0 hour')) %}
  {# {% set ics_url = calendar_link('ics', event_title__heading, start_datetime, end_datetime, event_dates.0.is_all_day, 'description', calendar_location_text) %} #}
{% endif %}

{% if event_meta__format.0 or event_meta__format %}
  {% set page_title__overline %}
    {% block page_title__overline %}
      <p {{ bem('format', ['overline'], event_meta__base_class) }}>
        {% include "@molecules/cards/reference-card/event/_yds-event-format.twig" with {
          format: event_meta__format,
        } %}
      </p>
    {% endblock %}
  {% endset %}
{% endif %}

{% set event_meta__base_class = 'event-meta' %}

{# Check if event has passed #}
{% set event_has_passed = event_meta__date_end < "now"|date("U") %}

{# Set the event status based on event_has_passed variable #}
{% set event_status = event_has_passed ? 'passed' : 'current' %}

{# Set the event title prefix based on event status #}
{% set event_title__prefix = event_has_passed ? 'Past Event: ' : '' %}

{# Use in more-dates-link #}
{% set event_more_dates_link__icon %}
  {% include "@atoms/images/icons/_yds-icon.twig" with {
    icon__name: 'circle-plus',
    icon__decorative: true,
    icon__blockname: event_meta__base_class,
    icon__modifiers: ['expand-more-dates'],
  } %}
  {# collapse minus #}
    {% include "@atoms/images/icons/_yds-icon.twig" with {
    icon__name: 'circle-minus',
    icon__decorative: true,
    icon__blockname: event_meta__base_class,
    icon__modifiers: ['collapse-more-dates'],
  } %}
{% endset %}

{# Use in event-show-map #}
{% set event__show_map__icon %}
  {% include "@atoms/images/icons/_yds-icon.twig" with {
    icon__name: 'angle-down',
    icon__decorative: true,
    icon__blockname: event_meta__base_class,
    icon__modifiers: ['expand-show-map'],
  } %}
{% endset %}

<div {{ bem(event_meta__base_class) }} data-event-status="{{ event_status }}">
  {# To get the event_title__prefix to wire properly to the page_title__prefix
  and retain the logic of end_date, we need to include the page-title
  in the same component file #}
  {# instead of passing the page-title component into a template separately
  and embedding the meta into it, we need to do that here. #}

  {% embed "@molecules/page-title/yds-page-title.twig" with {
    page_title__heading: event_title__heading,
    page_title__width: 'content',
    page_title__prefix: event_title__prefix,
  }%}
    {% block page_title__overline %}
      {% if event_meta__format.0 or event_meta__format %}
        <p {{ bem('format', ['overline'], event_meta__base_class) }}>
          {% include "@molecules/cards/reference-card/event/_yds-event-format.twig" with {
            format: event_meta__format,
          } %}
        </p>
      {% endif %}
    {% endblock %}
    {% block page_title__meta %}
      {% if event_has_passed %}
        <p {{ bem('past-event', [], event_meta__base_class) }}>
          This event has passed.
        </p>
      {% endif %}

      <div {{ bem('inner', [], event_meta__base_class) }}>
        {# Date #}
        <div {{ bem('date', [], event_meta__base_class) }}>

          {# Day #}
          <div {{ bem('day', [], event_meta__base_class) }}>
            {{ event_meta__day }}
          </div>

          {# Time #}
          <div {{ bem('time', [], event_meta__base_class) }}>
            {{ event_meta__time }}
          </div>
        </div>

      {# Event Dates #}
      {% if event_dates %}
        <div {{ bem('all-dates', [], event_meta__base_class) }} is-expanded="false">
          {% if event_dates.length > 1 %}
            <div {{ bem('more-dates-link', [], event_meta__base_class) }}>
              {% include "@atoms/controls/cta/yds-cta.twig" with {
                cta__content: event_more_dates_link__icon ~ event_meta__more_dates_link|default('Show more dates'),
                cta__href: '#',
                cta__blockname: event_meta__base_class,
                cta__modifiers: ['show-more-dates'],
                cta__style: 'outline',
              } %}
            </div>
          {% endif %}
          <ul {{ bem('multiple-dates', [], event_meta__base_class) }} aria-expanded="false">
            {% for event_date in event_dates %}
              <li {{ bem('multiple-dates__date', [], event_meta__base_class) }}>
                {{ event_date.formatted_start_date }} {{ event_date.formatted_start_time }} to {{ event_date.formatted_end_date }} {{ event_date.formatted_end_time }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
        
        {# Event Details #}
        <div {{ bem('details', [], event_meta__base_class) }}>
          {# CTAs #}
          <div {{ bem('ctas', [], event_meta__base_class) }}>
            {# Primary CTA #}
            {% if event_meta__cta_primary__content and event_meta__cta_primary__href %}
              {% include "@atoms/controls/cta/yds-cta.twig" with {
                cta__content: event_meta__cta_primary__content,
                cta__href: ticket_url ? ticket_url : event_meta__cta_primary__href,
                cta__component_theme: cta__component_theme|default('one'),
              } %}
            {% endif %}
            {# Add to calendar #}
            {% if event_meta__cta_secondary__content %}
              {% include "@atoms/controls/cta/yds-cta.twig" with {
                cta__content: event_meta__cta_secondary__content,
                cta__href: ics_url ? ics_url : event_meta__cta_secondary__href,
                cta__style: 'outline',
                cta__component_theme: cta__component_theme|default('one'),
              } %}
            {% endif %}
          </div>
        </div>

        {% if ticket_cost or event_types %}
          <div {{ bem('details-wrapper', [], event_meta__base_class) }}>
          {% if ticket_cost %}
          <div {{ bem('cost', [], event_meta__base_class) }}>
            <label {{ bem('event__label', [], event_meta__base_class) }}>
              Cost
            </label>
            {{ ticket_cost }}
          </div>
          {% endif %}
          {% if event_website %}
            <div {{ bem('website', [], event_meta__base_class) }}>
              <label {{ bem('event__label', [], event_meta__base_class) }}>Event Website</label>
              <div {{ bem('event-website-link', [], event_meta__base_class) }}>
              {% include "@atoms/controls/cta/yds-cta.twig" with {
                cta__content: event_website ,
                cta__href: event_website,
                cta__blockname: event_meta__base_class,
                cta__style: 'outline',
              } %}
              </div>
            </div>
          {% endif %}
          {% if event_types %}
            <div {{ bem('event-types-wrapper', [], event_meta__base_class) }}>
              <label {{ bem('event__label', [], event_meta__base_class) }}>Event Type</label>
              <ul {{ bem('event-types', [], event_meta__base_class) }}>
                {% for event_type in event_types %}
                  <li {{ bem('event-types__type', [], event_meta__base_class) }}>
                    <a href="{{ event_type.url }}">
                      {{ event_type.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          </div>
        {% endif %}

        {% if place %}
        <div {{ bem('location-wrapper', [], event_meta__base_class) }}>
          <label {{ bem('event__label', [], event_meta__base_class) }}>Location</label>
          <div {{ bem('location', [], event_meta__base_class) }}>
            {{ place.address }}
            {{ place.city }}, {{ place.state }} {{ place.postal_code }}
            {# <li {{ bem('location__address', [], event_meta__base_class) }}>{{ place.address }}</li>
            <li {{ bem('location__city', [], event_meta__base_class) }}>{{ place.city }}</li>
            <li {{ bem('location__state', [], event_meta__base_class) }}>{{ place.state }}</li>
            <li {{ bem('location__zip', [], event_meta__base_class) }}>{{ place.postal_code }}</li> #}
            {# <li {{ bem('location__lat', [], event_meta__base_class) }}>Lat: {{ place.latitude }}</li>
            <li {{ bem('location__long', [], event_meta__base_class) }}>Long: {{ place.longitude }}</li> #}
            <div {{ bem('event-show-map', [], event_meta__base_class) }} is-expanded="false">
              {% include "@atoms/controls/cta/yds-cta.twig" with {
                cta__content: 'Show map' ~ event__show_map__icon,
                cta__href: '#',
                cta__blockname: event_meta__base_class,
                cta__modifiers: ['show-map'],
                cta__style: 'outline',
              } %}
              <div {{ bem('map', [], event_meta__base_class) }} aria-expanded="false">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12355.08068326396!2d{{ place.longitude }}!3d{{ place.latitude }}!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1712273181159!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
              {% include "@atoms/controls/cta/yds-cta.twig" with {
                cta__content: 'Get Directions',
                cta__href: 'https://www.google.com/maps/dir/Current+Location/' ~ place.latitude, place.longitude,
                cta__blockname: event_meta__base_class,
                cta__modifiers: ['directions-link'],
                cta__style: 'outline',
              } %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if description %}
          <div {{ bem('description', [], event_meta__base_class) }}>
            {{ description }}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  {% endembed %}
</div>
